/* General Styling */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Navbar Styling */
.navbar {
  /* width: 1440px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(90deg, #553c9a, #ee4b2b, #ffc857);
  border: 3px solid magenta;
}

/* Logo Styling */
.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

/* Navigation Links Styling */
.nav-links {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.signup-btn,
.signin-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.signup-btn {
  background-color: #ee4b2b;
  /* Red */
}

.signin-btn {
  background-color: #2ecc71;
  /* Green */
}

.menu-icon {
  font-size: 24px;
  color: white;
  cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .menu-icon {
    display: block;
  }
}


/* General Styling */





/* Speaker-info-section */

.speaker-info-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fef6f4;
  padding: 20px;
  border-radius: 8px;
}

.speaker-info-name {
  font-size: 24px;
  font-weight: bold;
  color: #FF7600;
  margin-bottom: 10px;
}

.speaker-info-motto {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.speaker-info-motto .dot {
  color: #FF7600;
}

.speaker-info-divider {
  width: 100px;
  height: 5px;
  background-color: #FF7600;
  margin: 10px 0;
}

.speaker-info-speacilization {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.speaker-info-speacilization>div {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  flex: 1;
  margin: 0 10px;
  max-width: 300px;
  text-align: center;
}

.speaker-info-speacilization img {
  margin-bottom: 10px;
}

.speaker-info-speacilization-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.speaker-speacifications {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
}

.speaker-info-buy {
  background-color: #FF7600;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 30px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.speaker-info-buy:hover {
  background-color: #e66900;
}